@font-face {
  font-family: 'Bernadette';
  src: url(../fonts/bernadette.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Lato',sans-serif;
  min-width: 320px;
  color: #040404;
}

img {
  max-width: 100%;
  height: auto;
}

h2, h1 {
  font-family: 'Bernadette', sans-serif;
  color: #333332;
  font-size: 50px;
}

h5 {
  font-family: 'Lato';
  color: #515151;
}

/*header*/
.main-header-text h2, .main-header-text h5, .main-header-text p {
  color: #fff;
}

.main-header {
  background: url(../img/HeaderBG.jpg) center no-repeat;
  background-size: cover;
  background-position-y: bottom;
  height: 100vh;
  min-height: 600px;
  width: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.main-header .nav-item a {
  font-family: 'Lato';
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 15px;
}

.main-header li {
  margin: 0 10px;
}

.main-header ul li a::after {
  content: '';
  display: block;
  width: 100%;
  background-color: #ffffff;
  height: 2px;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.main-header ul li a:hover::after {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.main-header-text {
  text-align: center;
  margin-top: 12vh;
  max-height: 90vh;
  color: #fff;
  padding: 20px;
  max-width: 780px;
}

.main-header-text h2 {
  font-size: 80px;
}

.main-header-text h5 {
  font-size: 30px;
}

.main-header-text > * {
  margin-bottom: 30px;
}

.btn {
  font-size: 16px;
}

.main-header-button .btn {
  height: 40px;
  min-width: 150px;
}

.btn-white {
  background: #fff;
  color: #040404;
  font-weight: bold;
  text-transform: uppercase;
}

.cards {
  margin-top: -25vh;
}

.cards .card {
  padding: 0;
  border: 0;
  border-radius: 15px;
  min-width: 12rem;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 30px;
}

.cards .card img {
  width: 100%;
  border-radius: 15px 15px 0 0;
}

.cards .card .card-title {
  color: #333332;
  text-align: center;
  font-weight: bold;
  font-size: 25px;
}

.cards .card .card-text {
  color: #040404;
  font-size: 16px;
  text-align: center;
  font-weight: lighter;
  max-width: 80%;
  margin: auto;
}

.btn-gradient {
  height: 40px;
  border: 0;
  border-radius: 25px;
  background: -webkit-gradient(linear, left top, right top, from(#de813c), to(#3f519a));
  background: linear-gradient(90deg, #de813c 0%, #3f519a 100%);
  width: 125px;
  margin: auto;
  margin-bottom: -15px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 15px;
}

.section-we-are {
  margin-top: 100px;
  color: #040404;
  min-height: 600px;
}

.section-we-are h4 {
  font-family: 'Bernadette';
  font-size: 50px;
  margin-bottom: 55px;
  color: #333332;
}

.section-we-are span {
  font-weight: bold;
}

.section-we-are p {
  font-weight: lighter;
}

.section-we-are img {
  width: 50%;
  left: 50%;
  margin-left: -25%;
}

.section-we-are .row div {
  font-size: 18px;
}

.section-amazing-features {
  margin-top: 100px;
  text-align: center;
  max-height: 800px;
}

.section-amazing-features p {
  display: block;
  font-size: 16px;
  margin: auto;
  max-width: 90%;
  padding-bottom: 20px;
  font-style: italic;
  font-weight: 500;
  margin-bottom: 20px;
}

.section-amazing-features img {
  margin-bottom: 40px;
}

.section-amazing-features button {
  margin-bottom: 10px;
}

.section-amazing-features .center-block {
  position: absolute;
  border-radius: 10px;
  max-height: 50%;
  left: 50%;
  max-width: 50%;
  min-width: 50%;
  top: 25%;
  margin-left: -25%;
  background: #fff;
  padding: 25px 20px;
}

.section-services {
  margin-top: 30px;
  background-color: #F4F4F4;
  position: relative;
  min-height: 500px;
  padding: 30px 0;
}

.section-services .row {
  max-width: 100%;
}

.section-services .text {
  max-height: 10%;
}

.section-services h1 {
  margin-bottom: 30px;
  display: inline-block;
  max-width: 250px;
}

.section-services p {
  margin-bottom: 30px;
  font-size: 16px;
}

.section-services span {
  font-weight: bolder;
}

.section-services .gradient-block {
  background-image: linear-gradient(135deg, #de813c 0%, #3f519a 100%);
  max-width: 300px;
  border-radius: 10px;
  position: absolute;
  left: 74%;
  margin-left: -25%;
  top: 50%;
  margin-top: -15%;
  z-index: 2;
}

.section-services .gradient-block .container {
  height: 100%;
  padding: 30px 15px;
}

.section-services .gradient-block .row {
  height: 100%;
}

.section-services .gradient-block .col-6 {
  text-align: center;
  margin: auto;
  padding: 10px 0;
}

.section-services .image {
  background: url("../img/service.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 1;
  right: 0;
  top: 0;
  height: 100%;
}

.section-team {
  padding-top: 20px;
  position: relative;
  text-align: center;
  margin-top: 100px;
  min-height: 600px;
}

.section-team p {
  font-size: 18px;
  font-weight: 300;
}

.section-team h1 {
  word-spacing: 0;
}

.section-team .card {
  padding: 0;
  margin: 0 10px;
  border: 0;
  font-family: 'Lato';
  background: rgba(0, 0, 0, 0);
}

.section-team .card img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  min-height: 275px;
  border-radius: 20px;
}

.section-team .card .card-title {
  font-weight: bold;
  color: #333332;
}

.section-team .card .card-text {
  color: #a3a3a3;
}

.section-team .gray-bg {
  left: 50%;
  margin-left: -46%;
  z-index: -1;
  background: #f4f4f4;
  position: absoulute;
  bottom: 0;
  min-height: 200px;
}

.section-designer {
  position: relative;
  margin-top: 50px;
  min-height: 600px;
  font-size: 16px;
}

.section-designer .container {
  max-height: 500px;
}

.section-designer h1 {
  margin-top: 50px;
}

.section-designer .bars span {
  width: 20%;
  text-align: center;
  font-weight: bold;
  vertical-align: middle;
}

.section-designer .bars h5 {
  margin-top: 30px;
  font-size: 20px;
  font-weight: 500;
}

.section-designer .bars .progress-bar {
  border-radius: 30px;
  height: 10px;
  width: 80%;
  background: -webkit-gradient(linear, left top, right top, from(#de813c), to(#3f519a));
  background: linear-gradient(90deg, #de813c 0%, #3f519a 100%);
}

.section-designer .bars .bg-gray {
  margin-top: -7px;
  display: block;
  width: 100%;
  background: #e0e0e0;
}

@media only screen and (max-width: 450px) {
  .main-header-text h2 {
    font-size: 50px;
  }
  .main-header-text h5 {
    font-size: 25px;
  }
  .btn-gradient {
    font-size: 10px;
  }
  .cards {
    margin-top: -15vh;
  }
  .section-amazing-features {
    margin-top: 0;
  }
  .section-amazing-features .center-block {
    padding: 10px;
  }
}

@media only screen and (max-width: 320px) {
  .main-header-text h2 {
    font-size: 40px;
  }
  .main-header-text h5 {
    font-size: 20px;
  }
  .main-header-text p {
    font-size: 15px;
  }
  .cards {
    margin-top: -5vh;
  }
}

@media only screen and (max-height: 768px) {
  .cards {
    margin-top: -10vh;
  }
}

@media only screen and (max-width: 992px) {
  .section-amazing-features .center-block {
    position: static;
    margin: auto;
    max-width: 100%;
    max-height: 80vh;
  }
  .section-services {
    background: #fff;
  }
  .section-services .gradient-block, .section-services .text {
    text-align: center;
    position: static;
    margin: auto;
    margin-top: 40px;
  }
  .section-team {
    background: #f4f4f4;
  }
}
/*# sourceMappingURL=style.css.map */