@font-face 
  font-family: 'Bernadette'
  src: url(../fonts/bernadette.ttf) format("truetype")
  font-weight: normal 
  font-style: normal 
html
  scroll-behavior: smooth
body 
  font-family: 'Lato',sans-serif 
  min-width: 320px
  color: #040404 
img 
  max-width: 100% 
  height: auto 
h2,h1 
  font-family: 'Bernadette', sans-serif
  color: #333332 
  font-size: 50px
h5 
  font-family: 'Lato'
  color: #515151

/*header*/
  
.main-header-text
  h2,h5,p
    color: #fff

.main-header
  background: url(../img/HeaderBG.jpg) center no-repeat
  background-size: cover
  background-position-y: bottom
  height: 100vh
  min-height: 600px
  width: 100%
  user-select: none
  .nav-item
    a
      font-family: 'Lato'
      color: #fff
      text-transform: uppercase
      font-weight: bold
      font-size: 15px
    
  li
    margin: 0 10px
  ul li a
    &::after
      content: ''
      display: block
      width: 100%
      background-color: #ffffff
      height: 2px
      transform: scale(0)
      transition: all 0.4s
    &:hover::after
      transform: scale(1)

.main-header-text
  text-align: center
  margin-top: 12vh
  max-height: 90vh
  color: #fff
  padding: 20px
  max-width: 780px
  h2
    font-size: 80px
  h5
    font-size: 30px
  > *
    margin-bottom: 30px

.btn
  font-size: 16px

.main-header-button .btn
  height: 40px
  min-width: 150px

.btn-white
  background: #fff
  color: #040404
  font-weight: bold
  text-transform: uppercase

.cards
  margin-top: -25vh
  .card
    padding: 0
    border: 0
    border-radius: 15px
    min-width: 12rem
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
    margin-bottom: 30px
    img
      width: 100%
      border-radius: 15px 15px 0 0
    .card-title
      color: #333332
      text-align: center
      font-weight: bold
      font-size: 25px
    .card-text
      color: #040404
      font-size: 16px
      text-align: center
      font-weight: lighter
      max-width: 80%
      margin: auto
      

.btn-gradient
  height: 40px
  border: 0
  border-radius: 25px
  background: linear-gradient(90deg, rgb(222, 129, 60) 0%, rgb(63, 81, 154) 100%)
  width: 125px
  margin: auto
  margin-bottom: -15px
  color: #ffffff
  text-transform: uppercase
  font-weight: bold
  font-size: 15px

.section-we-are
  margin-top: 100px
  color: #040404
  min-height: 600px
  h4
    font-family: 'Bernadette'
    font-size: 50px
    margin-bottom: 55px
    color: #333332
  span
    font-weight: bold
  p
    font-weight: lighter
  img
    width: 50%
    left: 50%
    margin-left: -25%
  .row
    div
      font-size: 18px

.section-amazing-features
  margin-top: 100px
  text-align: center
  min-height: 40vh
  p
    display: block
    font-size: 16px
    margin: auto
    max-width: 90%
    padding-bottom: 20px
    font-style: italic
    font-weight: 500
    margin-bottom: 20px
  img
    margin-bottom: 40px
  .center-block
    position: absolute
    border-radius: 10px
    max-height: 50%
    left: 50%
    max-width: 50%
    min-width: 50%
    top: 25%
    margin-left: -25%
    background: #fff
    padding: 25px 20px

.section-services
  margin-top: 30px
  background: url("../img/service_bg.jpg") no-repeat
  background-size: cover
  background-position-x: right
  position: relative
  min-height: 70vh
  padding: 30px 0
  .text
    max-height: 10%
  button
    margin-left: 10px
  h1
    margin-bottom: 30px
    display: inline-block
    max-width: 250px
  p
    margin-bottom: 30px
    font-size: 16px
  span
    font-weight: bolder
  .gradient-block
    background-image: linear-gradient( 135deg, rgb(222,129,60) 0%, rgb(63,81,154) 100%)
    max-width: 300px
    border-radius: 10px
    position: absolute
    left: 68%
    margin-left: -25%
    top: 50%
    margin-top: -15%
    .container
      height: 100%
      padding: 30px 15px
    .row
      height: 100%
    .col-6
      text-align: center
      margin: auto
      padding: 10px 0
      // &:nth-child(odd)
      //   border-right: .5px dotted #fff
      // &:nth-child(even)
      //   border-left: .5px dotted #fff
      // &:not(:nth-last-child(-n+2))
      //   border-bottom: .5px dotted #fff


@media only screen and (max-width: 450px)
  .main-header-text
    h2
      font-size: 50px
    h5
      font-size: 25px
  .btn-gradient
    font-size: 10px
  .cards
    margin-top: -15vh
  .section-amazing-features
    margin-top: 0
    .center-block
      padding: 10px

@media only screen and (max-width: 320px)
  .main-header-text
    h2
      font-size: 40px
    h5
      font-size: 20px
    p
      font-size: 15px
  .cards
    margin-top: -5vh

@media only screen and (max-height: 768px)
  .cards
    margin-top: -10vh
  .section-amazing-features
    

@media only screen and (max-width: 992px)
  .section-amazing-features
    .center-block
      position: static
      margin: auto
      max-width: 100%
      max-height: 80vh
  .section-services
    background: #fff
    .gradient-block, .text
      text-align: center
      position: static
      margin: auto
      margin-top: 40px
